<h2>Details</h2>
	
	<table class="table table-striped">
		<thead>
			<tr><td><h4>ID</h4></td><td><h4><%= @user.id %></h4></td></tr>
			<tr><td><h4>Name</h4></td><td><h4><%= @user.name %></h4></td></tr>
			<tr><td><h4>Email</h4></td><td><h4><%= @user.email %></h4></td></tr>
			<tr><td><h4>Username</h4></td><td><h4><%= @user.username %></h4></td></tr>
			<tr><td><h4>Provider</h4></td><td><h4><%= @user.provider %></h4></td></tr>
		</thead>
	</table>
			  