<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClap</title>
        <%= render 'layouts/header' %>
  </head>
  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
    <%= render 'layouts/footer' %>
</html>
